

<footer>
        <div class="soc">
            <p class="title">Присоединяйся!</p>
            <a href="https://instagram.com/cafe1.minsk/" class="item inst" target="_blank"></a><a
                href="https://www.facebook.com/enzominsk/" class="item fb" target="_blank"></a><a
                href="https://vk.com/enzo.minsk" class="item vk" target="_blank"></a></div>
        <noindex>
            <div class="contacts-footer">
                <div>
                    <div class="order-inf">Телефон для бронирования:<br>
                        <strong>+375 29 177-00-88</strong><br>Телефон для заказов навынос:<br><strong>+375 29
                            108-11-77</strong></div>
                    <div class="time-inf"> Пн. - Вс. 11:00 - 23:00<br>
                    </div>
                    <div class="address-inf">Минск, ул. Октябрьская, 23</div>
                </div>
            </div>
        </noindex>
    </footer>