<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NT -->
    <script async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
    <script async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WBVTH7N"></script>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WBVTH7N');</script>
    <!-- End NT -->
    <title>Стейки и бургеры | ENZO</title>
    <meta name="description" content="Главная">
    <meta name="keywords" content="Главная">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="http://www.enzo.by/templates/template12/style.css?1643701638">
    <link rel="stylesheet" type="text/css" href="http://www.enzo.by/templates/template13/style.css?1643701638">
    <link rel="stylesheet" type="text/css" href="http://www.enzo.by/enzo/css/fonts/fonts.css?1643701638">
    <script type="text/javascript" src="http://www.enzo.by/templates/template12/script.js"></script>
    <script type="text/javascript" src="http://www.enzo.by/templates/template13/script.js"></script>
    <script type="text/javascript" src="http://www.enzo.by/enzo/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://www.enzo.by/enzo/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://www.enzo.by/enzo/js/jquery.formstyler.min.js"></script>
    <script type="text/javascript" src="http://www.enzo.by/enzo/js/enzo.main.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script async="" defer=""
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiwJ0vlXSU9iZFvHE345pcXRMA8lUjGSA&amp;callback=initMap"
            type="text/javascript"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://maps.googleapis.com/maps-api-v3/api/js/48/10/intl/ru_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8"
            src="https://maps.googleapis.com/maps-api-v3/api/js/48/10/intl/ru_ALL/util.js"></script>
</head>
<body class="pageBody">
<div class="wrapper">
    {% block content %}


    {% endblock content %}
</div>
</div>
</body>
</html>